.title {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-weight: 600; 
    font-size: 32px;
    margin: 2rem 0; /* Combined margin */
    color: #333;
}

/* Services container */
.services-container {
    display: flex;
    gap: 25px; 
    padding: 20px;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    background-color: #F6F6F6;
}  



.service-box, .service-box-LAST {
    background-color: white;
    text-align: center;
    flex: 1;
    max-width: 300px; 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease; /* Smooth scaling effect */
}

.service-box img, .service-box-LAST img {
    width: 100%; 
    max-width: 280px; 
    height: auto;
    margin-bottom: 15px;
    border-radius: 15px; /* Consistent rounded corners */
}

.service-box h4, .service-box-LAST h4 {
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 550;
    font-size: 1rem;
    color: #333;
}

.service-box:hover {
    transform: scale(1.02); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a more pronounced shadow on hover */
}

/* Main button styling for all devices */
.service-button {
    margin-top: 1.5rem;
    background-color: #5B864D; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 11px; /* Consistent font size */
    transition: background-color 0.3s ease;
}

.service-button:hover {
    background-color: #467237;
}

/* Specific style for the 360x640 device with high pixel density */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

    .service-button {
        padding: 10px 20px; /* Keep padding the same */
        font-size: 5px; /* Ensure the font size remains consistent */
        width: auto; /* Ensures button adapts to its content */
        height: 2rem ;
    }
}

/* General responsive rule for smaller screens */
@media (max-width: 800px) {
    .service-button {
        font-size: 7px; /* Maintain font size */
        padding: 10px 20px; /* Consistent padding */
        width: auto; /* Ensures button adapts to content */
        height: 2rem ;
    }
}
