.title-bold {
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    text-align: center;
    font-weight: 800; 
    font-size: 48px; 
    margin: 4rem auto 2rem auto; 
    padding: 0 1rem; 
    color: #333; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
}

/* .boxes-container {
    display: flex;
    gap: 25px; 
    padding: 20px;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap; 
} */

.boxes {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: left; 
    width: 20rem; 
    height: 20rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

.boxes i {
    float: left; 
    margin-right: 10px;
    margin-top: 5px; 
    font-size: 24px; 
    color: #5B864D; /* Matches with the overall theme */
}

.boxes h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400; 
    margin-top: 0;
    margin-bottom: auto;
    text-align: center;
    font-size: 18px; /* Slightly larger for better readability */
}

.boxes p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    margin-top: auto;
    color: #555; /* Subtle color for better readability */
}

/* Responsive design: Adjust box width for smaller screens */
@media (max-width: 800px) {
    .boxes {
        width: 100%; /* Full width on small screens */
        margin-bottom: 20px;
    }
}
