.black-box h2 {
    margin-top: 2rem;
    font-size: 2rem; 
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 700 !important;
}

.black-box p {
    font-size: 1.5rem; 
    margin-top: 1.5rem; 
}

.get-started {
    background-color: #5B864D !important;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 2rem;
    width: 100%; 
    max-width: 170px; 
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 700 !important;
}

.get-started:hover {
    background-color: #467237 !important;
}

/* Media Queries */
@media (max-width: 600px) {
    .black-box {
        width: 95%;
        padding: 10px;
        height: auto; /* Allow height to adjust based on content */
    }

    .black-box h2 {
        font-size: 1.8rem; /* Smaller for mobile */
        margin-top: 1.5rem; /* Reduced margin */
    }

    .black-box p {
        font-size: 1.2rem; /* Smaller for mobile readability */
        margin-top: 1rem; /* Reduced margin */
    }

    .get-started {
        padding: 8px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Smaller font size */
    }
}
