.black-box h2 {
    margin-top: 2rem;
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 700 !important;
    /* Adjust font size for smaller screens */
    font-size: 2rem;
}

.black-box p {
    font-size: 2rem;
    margin-top: 2rem;
    /* Adjust font size for smaller screens */
    /* font-size: 1.5rem; */
}

.get-started {
    background-color: #5B864D;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 2rem;
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 700 !important;
}

.get-started:hover {
    background-color: #467237;
}
