html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: #F6F6F6 !important; 
    font-family: 'Nunito Sans', sans-serif;
    color: #333;
}

.container-flex {
    display: flex;
    gap: 25px; 
    padding: 20px;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.content-section {
    background-color: #F6F6F6;
    padding: 50px;
    width: 100vw; 
    margin-left: calc(-50vw + 50%); 
    box-sizing: border-box; 
}

.space-needed  {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.black-box {
    width: 75rem; /* Large width for desktops */
    height: 30rem;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 700 !important;
    padding: 10px; /* Ensure padding is uniform */
}

/* Hide scrollbar for better UX */
::-webkit-scrollbar {
    display: none;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1200px) {
    .black-box {
        width: 50rem; /* Adjust for medium screens */
    }
}

@media screen and (max-width: 900px) {
    .black-box {
        width: 100%; /* Full width for smaller screens */
        height: auto; /* Adjust height for content */
        padding: 20px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .black-box {
        padding: 15px;
        border-radius: 20px; /* Smaller border radius for compact look */
        font-size: 1rem; /* Adjust text size for readability */
        
    }
}
