/* Base Styles */
.map-container {
    margin: 0 auto;
    height: 60vh;
    width: 100%;
    border-radius: 15px;
    padding-left: 5rem;
}

.map-style {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* Media Queries */

/* For screens up to 1024px */
@media (max-width: 1024px) {
    .map-container {
        height: 50vh; /* Reduce height for medium screens */
        padding-left: 3rem; /* Reduce left padding */
    }


}

/* For screens up to 780px */
@media (max-width: 780px) {
    .map-container {
        height: 45vh; /* Further reduce height */
        padding-left: 2rem; /* Reduce left padding */
    }

}

/* For screens up to 480px */
@media (max-width: 480px) {
    .map-container {
        height: 40vh; /* Further reduce height */
        padding-left: 1rem; /* Minimize padding */
    }
}

/* For screens up to 380px */
@media (max-width: 380px) {
    .map-container {
        height: 35vh; /* Adjust for very small screens */
        padding-left: 0.5rem; /* Minimal padding */
    }
}
