.h1-middle, .h1-left {
    display: flex;
    justify-content: center;
    color: #5B864D !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600 !important;
    margin-top: 2rem !important;
    margin-bottom: 1.5rem !important;
    text-align: center;
}

.h1-left {
    margin-right: 20rem;
    margin-top: 5rem !important;
}

.company-description {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 550;
    display: flex;
    justify-content: center;
}

.company-info {
    display: flex;
    gap: 5px;
}

.company-info img.image-right {
    max-width: 550px;
    height: auto;
    flex: 1;
    margin-left: 5rem;
}

/* Media Queries */

/* For screens up to 1024px */
@media (max-width: 1024px) {
    .h1-left, .h1-middle {
        margin-right: 0;
        margin-top: 3rem !important;
        font-size: 1.8rem;
    }

    .company-info img.image-right {
        margin-left: 3rem;
    }
}

/* For screens up to 780px */
@media (max-width: 780px) {
    .h1-left, .h1-middle {
        margin-top: 2rem !important;
    }

    .image-right {
        display: none; /* Hide the image at 780px and below */
    }
}

/* For screens up to 480px */
@media (max-width: 480px) {
    .h1-left, .h1-middle {
        font-size: 1.4rem;
        margin-top: 1.5rem !important;
    }

    .company-info {
        flex-direction: column;
        align-items: center;
    }

    .company-info img.image-right {
        max-width: 100%;
        margin-left: 0;
    }
}

/* For screens up to 380px */
@media (max-width: 380px) {
    .h1-left, .h1-middle {
        font-size: 1.2rem;
        margin-top: 1rem !important;
    }
}
